<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My monitor</title>

    <!-- Header -->
    <link rel="stylesheet" href="css/header.css">

    <!-- Commonwealth-->
    <link rel="stylesheet" href="css/cw.css">

    <!-- Titan -->
    <link rel="stylesheet" href="css/titan.css">

    <!-- Zalora -->
    <link rel="stylesheet" href="css/zalora.css">
</head>
<body>

    <!--========== Header ==========-->
    <header class="header-container">
        <div class="header bd-container" id="header">
           <a href="/" class="logo"><img src="images/monitor.png" alt="monitor" srcset=""></a>
            <div class="menu-toggle"></div>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="/">Titan</a></li>
                <li><a href="/cw">Commonwealth</a></li>
                <li><a href="/zalora">Zalora</a></li>
            </ul>
        </div>
    </header>
    <!--========== Header END ==========--> 


    <main>
    


