@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.bd-container {
  max-width: 1440px;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 1440px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.commonwealth {
  padding-top: 100px;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  position: inherit;
}

.product-info .item {
  margin: 1rem auto;
  background-color: #fff;
  padding: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  bottom: 6px;
  border-radius: 4px;
  width: 250px;
}

.product-info .item img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product-info .item .item-info {
  text-align: center;
  font-size: 0.8rem;
}

.product-info .sizes-info a {
  text-decoration: none;
  font-size: 0.7rem;
  color: #28527a;
}

.sizes {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sizes-info {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .product-info .item {
    width: 220px;
  }
}
